# eclipse
FinerEdgeFundamentals\bin
FinerEdgeFundamentals\*.launch
FinerEdgeFundamentals\.settings
FinerEdgeFundamentals\.metadata
FinerEdgeFundamentals\.classpath
FinerEdgeFundamentals\.project

# idea
FinerEdgeFundamentals\out
FinerEdgeFundamentals\*.ipr
FinerEdgeFundamentals\*.iws
FinerEdgeFundamentals\*.iml
FinerEdgeFundamentals\.idea

# gradle
FinerEdgeFundamentals\build
FinerEdgeFundamentals\.gradle

# other
FinerEdgeFundamentals\eclipse
FinerEdgeFundamentals\run
FinerEdgeFundamentals\crash-reports
FinerEdgeFundamentals\resource-packs
FinerEdgeFundamentals\saves
FinerEdgeFundamentals\*.json
FinerEdgeFundamentals\config
FinerEdgeFundamentals\logs
FinerEdgeFundamentals\options.txt